@font-face {
  font-family: "Timer";
  src: url("cursed-timer.ttf");
}

@media (max-width: 470px) or (max-height: 360px) {
  .container {
    zoom: 0.5;
  }
}
@media (min-width: 471px) and (min-height: 361px) {
  .container {
    zoom: 1;
  }
}

@media (min-width: 800px) and (min-height: 600px) {
  .container {
    zoom: 1.5;
  }
}

@media (min-width: 1000px) and (min-height: 700px) {
  .container {
    zoom: 2;
  }
}

@media (min-width: 1500px) and (min-height: 1050px) {
  .container {
    zoom: 3;
  }
}

@media (min-width: 2000px) and (min-height: 1400px) {
  .container {
    zoom: 4;
  }
}

@media (min-width: 3000px) and (min-height: 2100px) {
  .container {
    zoom: 5;
  }
}

body {
  margin: 0;
  text-align: center;
  font-family: Verdana, Arial;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #000;
}

.container {
  display: flex;
  gap: 30px;
  border: 2px #9aabd8 solid;
  border-radius: 5px;
  padding: 60px;
  align-items: center;
  position: relative;
  background-color: #1b244a;
}

.reset-btn-container {
  position: absolute;
  left: -2px;
  top: -2px;
}

.reset-btn {
  background: none;
  border: 2px solid #9aabd8;
  border-radius: 5px;
  font-size: 18px;
  color: #9aabd8;
  width: 1fr;
  transition: color 0.15s;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.reset-btn:hover {
  border-color: #7988b3;
  color: #7988b3;
}

.reset-btn:active {
  border-color: #5e698a;
  color: #5e698a;
}

.team-header {
  font-family: Verdana, Arial;
  font-size: 2rem;
  font-weight: 700;
  color: #eeeeee;
  margin: 0px;
}
.score-container {
  background-color: black;
  width: 155px;
  height: 120px;
  border-radius: 5px;
}

.score {
  font-size: 90px;
  color: #f94f6d;
  margin: 20px;
  font-family: Timer;
  padding: 15px;
}

.score-buttons-container {
  display: flex;
  width: 155px;
  height: 45px;
  justify-content: space-between;
  margin-top: 20px;
}

.add-score-btn {
  background: none;
  border: 2px solid #9aabd8;
  height: 45px;
  width: 45px;
  border-radius: 5px;
  font-family: Timer;
  font-size: 18px;
  color: #9aabd8;
  transition: color 0.15s;
  transition: border 0.15s;
}

.add-score-btn:hover {
  border-color: #7988b3;
  color: #7988b3;
}

.add-score-btn:active {
  border-color: #5e698a;
  color: #5e698a;
}
